<div class="">
  <%= form_with(url: sessions_path, remote: true) do |form| %>

  <div class="row form-group field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :session_email, class: 'form-control' %>
  </div>

  <div class="row form-group field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :session_password, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success pull-right'  %>
  </div>

  <% end %>
</div>
