<!--disambiguation page -->

<h1>Your Search</h1>
<p>From Snikipedia, the free encyclopedia</p>

<% if @searched_articles %>
<ul>
  <% @searched_articles.each do |a| %>
        <li><h3 id="article-link-title" class="link-box"><%= link_to( a.title, article_path(a)) %></h3></li>
          <!-- <p>Tags: <%= a.tag_list %></p> -->
          Tags: <%= raw(a.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
  <%end %>
</ul>
<% elsif @tagged_articles %>
<ul>
  <% @tagged_articles.each do |b| %>
  <li><h3 id="article-link-title" class="link-box"><%= link_to( b.title, article_path(b)) %></h3></li>
  Tags: <%= raw(b.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
  <%end %>
  </ul>
<% end %>
