<div id="new-article-container">
	<%= simple_form_for @article, local: true do |form| %>

		<% if @article.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@article.errors.count, "error") %>
						prohibited this article from being saved:
				</h2>
				<ul>
					<% @article.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<p>
			<%= form.input :title %>
		</p>

		<p>
			<%= form.input :summary %>
		</p>

		<p>
			<%= form.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
		</p>

		<p>
			<%= form.input :user_id %>
		</p>

		<p>
			<%= form.submit %>
		</p>

	<% end %>
</div>
