<h1>Search Articles</h1>

<!-- FILTER FORM -->
<!-- SEARCH FORM TO ARTICLES CONTROLLER FOR SECONDARY FILTERING -->
<%#= form_tag "/articles", method: :get, class: 'form-inline'  do %>
<%#= form_with(model: article, remote: true) do |form| %>

<%#= form_with url: '/article/search', method: :get, local: true do |form| %>
<%= form_with url: '/search_articles', method: :post, local: true do |form| %>
<%= binding.pry %>
<div class="row">
	<div class="col-md-8 form-group field">
		<%= form.label :title %>
		<%= form.text_field :title, id: :title, class: 'form-control' %>
	</div>
</div>

<div class="actions">
	<%= form.submit class: 'btn btn-success pull-right' %>
</div>
<% end %>
