<h1>Search Articles</h1>

<%= form_with url: '/selected_form_options', method: :post, local: true do |form| %>

<div class="row">
	<div class="col-md-8 form-group field">
		<%= form.label :title %>
		<%= form.text_field :title, id: :title, class: 'form-control' %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 form-group field">
		<%= form.label :body %>
		<%= form.text_field :body, id: :body, class: 'form-control' %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 form-group field">
		<%= form.label :summary %>
		<%= form.text_field :summary, id: :summary, class: 'form-control' %>
	</div>
</div>

<div class="actions">
	<%= form.submit class: 'btn btn-success pull-right' %>
</div>
<% end %>
