<div id="article-sidebar">

	<div id="article-photo">
		<%= image_tag("/pablo_picasso.jpeg", alt:"pablo_picasso", width: 175) %>
	</div>
	<div id="article-photo">
        <%= image_tag("/miles_davis.jpeg", alt:"miles_davis", width: 175) %>
  	</div>
  	<div id="article-photo">
        <%= image_tag("/louis_armstrong.jpeg", alt:"louis_armstrong", width: 175) %>
  	</div>
  	<div id="article-photo">
        <%= image_tag("/elliott_smith.jpeg", alt:"elliott_smith", width: 175) %>
  	</div>
  	<div id="article-photo">
        <%= image_tag("/radiohead.jpeg", alt:"radiohead", width: 175) %>
  	</div>
  	<div id="article-photo">
        <%= image_tag("/stanley_kubrick.jpeg", alt:"stanley_kubrick", width: 175) %>
  	</div>



	<div id="article-sidebar-text">
		<p>article_sidebar</p>
		<p><strong>born:</strong> some info</p>
		<p><strong>died:</strong> some info</p>
	</div>

</div>

<div id="article-container">
	<h1><%= @article.title %></h1>
	<p id="plug">From Snikipedia, the most awesome encyclopedia evaaaa</p>
	<hr>
	<p><%= @article.summary %></p>
	<p><%= @article.body %></p>
</div>