<div class="container">
  <div class="erb_header">
    <h3><%= user.username.capitalize %> Settings</h3>
  </div>

  <div class="row">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Username <%= icon('user') %></th>
        <th>Email <%= icon('envelope') %></th>
        <th>Updated <%= icon('calendar') %></th>
        <th>Post New Article <%= icon('rss') %></th>
        <th colspan="2">Manage <%= icon('sliders') %></th>
      </tr>
      <tr>
        <td><%= user.username.capitalize %></td>
        <td><%= user.email %></td>
        <td><%= user.updated_at.strftime('%x')%></td>
        <td><%= link_to 'Post New Article', new_article_path %></td>

        <td><%= link_to edit_user_path(user) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to 'Destroy', user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    </table>
  </div>






  <div id="MainPageBGOuter" class="row">

    <% if !user.articles %>
      <div id="MainPageBGInner" class="row">
        <h4 id="ArticleHeaderH2">No articles written by <%= user.username.capitalize %></h4>
      </div>

    <% else %>
      <div id="MainPageBGInner" class="row">
      <% @articles = user.articles %>
      <h4 id="ArticleHeaderH2">Articles written by <%= user.username.capitalize %> (<%= @articles.count %>)</h4>

      <% @articles.each do |article| %>
      <div class="">
        <h4><%= link_to "#{article.title.capitalize}", article_path(article) %></h4>
        <p><%= article.summary.capitalize %> <%= article.body %></p>
      </div>
      <hr>
      <% end %>

    </div>
    <% end %>


  </div>






  <% if user.photos %>
  <% @photos = user.photos %>
  <h3>My Photos: <%= @photos.count %></h3>

  <!-- PARTIAL LINK TO PHOTOS/INDEX (VIEW ALL) -->
  <%= render 'photos/photos_partial', photos: user.photos %>
  <% else %>
  <h3>You haven't uploaded any photos yet.</h3>
  <p>Let's get started - It's simple!  Post an article, then add your photos!</p>
  <% end %>

</div>
