<%= form_with scope: :user, url: "/users/profile", method: "post", local: true do |form| %>

  <p>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>


<% end %>
