<div class="row logo-div text-center">
  <%= link_to image_tag("wiki_logo_chimp.jpg", size: "90x90", alt: "Snikipedia Logo", class: "img-circle chimp-logo"), root_url %>

  <h4 class="wiki-font"><%= link_to 'SNIKIPEDIA', root_url %></h4>
  <p class="wiki-font"><%= link_to 'THE AWESOME ENCYCLOPEDIA', root_url %></p>

  <%= render partial: 'articles/search_partial' %>
</div>

<div class="row central-featured-category text-center">
  <h5 class="text-center"><%= link_to "Popular Categories", categories_path %></h5>

  <% side_categories = Category.all %>
  <% side_categories.each do |side_cat| %>
    <h6 id="category-link-title" class="link-box"><%= link_to "#{side_cat.name.capitalize}", side_cat, remote: true %></h6>
  <%end%>
</div>

<div class="row">
  <h4><%= link_to new_charge_path do %>
    Donate to Snikipedia <%= icon('money') %>
    <% end %>
  </h4>
</div>

<div class="row text-center">
  <h4>LANGUAGES</h4>
  <%= link_to "Afrikaans", "https://af.wikipedia.org/wiki/Portaal:Inhoudsopgawe/Kategorie%C3%AB" %><br>
  <%= link_to "العربية", "https://ar.wikipedia.org/wiki/%D8%A8%D9%88%D8%A7%D8%A8%D8%A9:%D9%85%D8%AD%D8%AA%D9%88%D9%8A%D8%A7%D8%AA" %><br>
  <%= link_to "অসমীয়া", "https://as.wikipedia.org/wiki/%E0%A7%B1%E0%A6%BF%E0%A6%95%E0%A6%BF%E0%A6%9A%27%E0%A7%B0%E0%A6%BE:%E0%A6%AA%E0%A6%9E%E0%A7%8D%E0%A6%9C%E0%A7%80" %><br>
  <%= link_to "বাংলা", "https://en.wikipedia.org/wiki/Portal:Contents" %><br>
  <%= link_to "Cebuano", "https://en.wikipedia.org/wiki/Portal:Contents" %><br>
  <%= link_to "Español", "https://es.wikipedia.org/wiki/Wikipedia:Contenidos" %><br>
  <%= link_to "فارسی", "https://fa.wikipedia.org/wiki/%D9%88%DB%8C%DA%98%D9%87:%D9%BE%D8%A7%D9%84%D8%A7%DB%8C%D9%87%D9%94_%D8%AE%D8%B1%D8%A7%D8%A8%DA%A9%D8%A7%D8%B1%DB%8C" %><br>
  <%= link_to "한국어", "https://ko.wikipedia.org/wiki/%ED%8F%AC%ED%84%B8:%EB%AA%A9%EC%B0%A8" %><br>
  <%= link_to "हिन्दी", "https://hi.wikipedia.org/wiki/%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%B5%E0%A5%87%E0%A4%B6%E0%A4%A6%E0%A5%8D%E0%A4%B5%E0%A4%BE%E0%A4%B0:%E0%A4%B8%E0%A4%BE%E0%A4%AE%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A5%80" %><br>
  <%= link_to "Қазақша", "https://kk.wikipedia.org/wiki/%D0%A3%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F:%D0%A1%D0%B0%D0%BD%D0%B0%D1%82%D1%82%D0%B0%D1%80" %><br>
  <%= link_to "Kurdî", "https://ku.wikipedia.org/wiki/Portal:Naverok" %><br>
  <%= link_to "Magyar", "https://hu.wikipedia.org/wiki/Wikip%C3%A9dia:Tartalom" %><br>
  <%= link_to "Bahasa Melayu", "https://ms.wikipedia.org/wiki/Wikipedia:Tinjau" %><br>
  <%= link_to "မြန်မာဘာသာ", "https://my.wikipedia.org/wiki/Portal:%E1%80%99%E1%80%AC%E1%80%90%E1%80%AD%E1%80%80%E1%80%AC" %><br>
  <%= link_to "Nederlands", "https://nl.wikipedia.org/wiki/Portaal:Navigatie" %><br>
  <%= link_to "ភាសាខ្មែរ", "https://km.wikipedia.org/wiki/Portal:Contents" %><br>
  <%= link_to "Polski", "https://pl.wikipedia.org/wiki/Portal:Kategorie_G%C5%82%C3%B3wne" %><br>
  <%= link_to "Português", "https://pt.wikipedia.org/wiki/Portal:Conte%C3%BAdo" %><br>
  <%= link_to "Русский", "https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F:%D0%A1%D0%BE%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%BD%D0%B8%D0%B5_%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D0%B8" %><br>
  <%= link_to "Shqip", "https://sq.wikipedia.org/wiki/Portal:P%C3%ABrmbajtja" %><br>
  <%= link_to "සිංහල", "https://si.wikipedia.org/wiki/%E0%B6%AF%E0%B7%8A%E0%B7%80%E0%B7%8F%E0%B6%BB%E0%B6%BA:%E0%B6%B4%E0%B6%A7%E0%B7%94%E0%B6%B1" %><br>
</div>
