<div id="row homepage-container">

	<div class="column">
		<span id="featured-article-header"><h5>TODAY'S FEATURED ARTICLE</h5></span>
		<h3><%= @article.title %></h3>
		<p><%= @article.summary.truncate(500) %></p>
		<span id="featured-article-summary"><%= @article.body.truncate(500) %></span>
	</div>

	<div class="column" style="margin-top: 50px;">
		<%= render partial: "categories/categories_partial" %>
	</div>

	<div class="column">
		<span id="featured-article-header"><h5>TODAY'S FEATURED PICTURE</h5></span>

		<div id="featured-picture">
			<%= image_tag("/woman_with_a_mirror.jpeg", alt:"woman_with_a_mirror", width: 175) %>
		</div>

		<p>Woman with a Mirror is a painting by the Italian artist Titian. This work, dated to c. 1515, depicts an unidentified woman as she primps herself with the assistance of a servant. The painting is now in the Louvre.</p>
	</div>

</div>
