<!DOCTYPE html>
<html>
  <head>
    <title>Snikipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- MAIN NAV BAR (ALL 3 COLUMNS) -->
    <!-- <div class=""> -->
      <%= render partial: 'shared/nav' %>
    <!-- </div> -->

    <!-- MAIN CONTENT UNDER NAV BAR (ALL 3 COLUMNS) -->
    <div id="mainContainer" class="row">

      <!-- LEFT COLUMN ONLY (1/3 WIDTH) -->
      <div class="col-md-2" id="mw-panel">
        <%= render partial: 'shared/left_sidebar' %>
      </div>

      <!-- MIDDLE COLUMNS ONLY (2/3 WIDTH) -->
      <div id="mw-body" class="col-md-10">

        <!-- FLASH NOTICE -->
        <div class="row">
          <%= render partial: 'shared/flash' %>
        </div>

        <!-- YIELD (HERE IS WHERE EACH VIEW ERB FROM CONTROLLERS/VIEWS WILL RENDER) -->
        <div class="row" id="main-wrapper">
          <%= yield %>
        </div>

      </div>
    </div>

    <footer id="footer">

    </footer>

  </body>
</html>
