<!DOCTYPE html>
<html>
  <head>
    <title>Snikipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="">
      <%= render partial: 'shared/nav' %>
    </div>

    <div class="container-fluid outer-container" style="margin-top: 30px;">


      <div class="row">
        <%= render partial: 'shared/flash' %>
      </div>


      <div id="left-sidebar-container">
        <%= render partial: 'shared/left_sidebar' %>
      </div>

      <div id="body-container" id="main-wrapper">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
